<a href="https://colab.research.google.com/github/almeda-sj07/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fundamentals of Python

Python Variables

In [37]:
x = float(1)

a,b,c = "Sally","John","Ana"
a,b,c = 0,-1,2

print("This is a sample")
print(a)
print(c)

This is a sample
0
2

Casting

In [14]:
print(x)

1.0

Type() Function

In [19]:
y = "Johnny"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

Double Quotes and Single Quotes

In [34]:
h = "Maria"
i = 'Maria'
v = 1
V = 2

print(h)
print(v)
print(V)

Maria
1
2

Multiple Variables

In [44]:
x,y,z = "one","two","three"

print(x)
print(y)
print(z)
print(x,y,z)
print(type(x))
print(type(y))
print(type(z))
print(type(x),type(y),type(z))

one
two
three
one two three
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'> <class 'str'> <class 'str'>

One Value to Multiple Variables

In [56]:
x = y = z = "Stella"

print(x,y,z)

Stella Stella Stella

Output Variables

In [61]:
x = "enjoying"
y = "Python is"

print(y,x)

Python is enjoying