<a href="https://colab.research.google.com/github/almeda-sj07/OOP-58001/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Boolean Operators

In [37]:
print(10>9)
print(10==9)
print(10!=9)
print(10<9)

True
False
True
False

bool() function

In [38]:
print(bool("Steph"))
print(bool(19))
print(bool())
print(bool(0))
print(bool(1))
print(bool(None))
print(bool(False))

True
True
False
False
True
False
False

Function can return a Boolean

In [39]:
def myFunction():
  return False

print(myFunction())

False

In [40]:
def myFunction():
  return False

if myFunction():
  print("Yes!")
else:
  print("No!")

No!

Application 1

In [41]:
print(10>9)

a=6
b=7

if a<b:
  print("a is less than b")
else:
  print("a is greater than b")

print(a==b)
print(a!=a)

True
a is less than b
False
False

Python Operators

In [42]:
print (10+7)
print (10-7)
print (10*7)
print (10/7)
print (10%7)
print (10//7)
print (10**7)

17
3
70
1.4285714285714286
3
1
10000000

Python Bitwise Operators

In [43]:
s=60
j=13
print(s>j)

if s<j:
  print("s is less than j")
else:
  print("s is greater than j")

print(s==j)
print(s!=s)

True
s is greater than j
False
False

In [44]:
# s = 60 , binary 0011 1100
# j = 13 , binary 0000 1101

print(s&j)
print(s|j)
print(s^j)
print(s<<7)
print(s<<9)

12
61
49
7680
30720

Application 2

Assignment Operators

In [45]:
x = 1
x += 3
print(x)

4

In [46]:
x -= 3
print(x)

1

In [47]:
x *= 3
print(x)

3

In [48]:
x /= 3
print(x)

1.0

In [49]:
x %= 3
print(x)

1.0

Logical Operators

In [50]:
s = True
j = False

print(s and j)
print(s or j)
print(not(s or j))

False
True
False

Identity Operators

In [51]:
s is j
s is not j

True

#Control Structure

If Statement

In [52]:
a = 10
b = 200

if b>a:
  print("b is greater than a")

b is greater than a

Elif Statement

In [53]:
if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")

a is less than b

Else Statement

In [54]:
if b>a:
  print ("b is greater than a")
elif a == b:
  print ("a and b are equal")
else:
  print ("a is greater than b")

b is greater than a

Short Hand If Statement

In [55]:
if b>a: print ("b is greater than a")

b is greater than a

Short Hand If..Else Statement

In [56]:
a = 2
b = 330
print ("A") if a>b else print ("B")

B

And-both conditions are true

In [57]:
a = 200
b = 33
c = 500
if a>b and c>a:
  print ("Both conditions are True")

Both conditions are True

Or-at least one of the conditions is true

In [58]:
if a>b or a>c:
  print ("At least one of the conditions is True")

At least one of the conditions is True

Nested If

In [59]:
x = 41

if x>10:
  print ("Above ten,")
if x>20:
  print ("and also above 20!")
else:
  print ("but not above 20.")

Above ten,
and also above 20!

Application 3 - Develop a Python program that will accept if a person is entitled to vote or not

In [60]:
age = int(input())

if age>=18:
  print("You are qualified to vote")
else:
  print("You are not qualified to vote")

20
You are qualified to vote

Nested If...Else

In [61]:
y = int(input())

if y>10:
  print("y is above 10")
if y>20:
  print("y is above 20")
if y>30:
  print("y is above 30")
if y>40:
  print("y is above 40")
else:
  print("y is below 40")
if y>50:
  print("y is above 50")
else:
  print("y is below 50")

75
y is above 10
y is above 20
y is above 30
y is above 40
y is above 50

Loop structure

In [62]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
season = ["Rainy", "Sunny"]

for x in week:
  for y in season:
    print(y,x)

Rainy Sunday
Sunny Sunday
Rainy Monday
Sunny Monday
Rainy Tuesday
Sunny Tuesday
Rainy Wednesday
Sunny Wednesday
Rainy Thursday
Sunny Thursday
Rainy Friday
Sunny Friday
Rainy Saturday
Sunny Saturday

The break statement

In [63]:
for x in week:
  if x == "Thursday":
    break
print(x)

Thursday

In [64]:
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [65]:
# To display Sunday to Thursday

for x in week:
  if x == "Friday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday

In [66]:
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

While loop

In [67]:
i=1

while i<6:
  print(i)
  i+=1

1
2
3
4
5

Application 4 - Create a Python program that displays numbers 1 to 4 using while loop

In [68]:
j=1

while j<=4:
  print(j)
  j+=1

1
2
3
4

Application 5 - Create a Python program that displays numer 4 using while loop statement and break statement

In [69]:
j=1

while j<=4:
  if j==4:
    print(j)
  j+=1

4