<a href="https://colab.research.google.com/github/almeda-sj07/OOP-58001/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Boolean Operators

In [77]:
print(10>9)
print(10==9)
print(10!=9)
print(10<9)

True
False
True
False

bool() function

In [6]:
print(bool("Steph"))
print(bool(19))
print(bool())
print(bool(0))
print(bool(1))
print(bool(None))
print(bool(False))

True
True
False
False
True
False
False

Function can return a Boolean

In [11]:
def myFunction():
  return False

print(myFunction())

False

In [13]:
def myFunction():
  return False

if myFunction():
  print("Yes!")
else:
  print("No!")

No!

Application 1

In [17]:
print(10>9)

a=6
b=7
print(a==b)
print(a!=a)

True
False
False

Application 2

In [25]:
x = 1
x += 3
print(x)

4

In [26]:
x -= 3
print(x)

1

In [27]:
x *= 3
print(x)

3

In [28]:
x /= 3
print(x)

1.0

In [29]:
x %= 3
print(x)

1.0

Loop structure

In [35]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
season = ["Rainy", "Sunny"]

for x in week:
  for y in season:
    print(y,x)

Rainy Sunday
Sunny Sunday
Rainy Monday
Sunny Monday
Rainy Tuesday
Sunny Tuesday
Rainy Wednesday
Sunny Wednesday
Rainy Thursday
Sunny Thursday
Rainy Friday
Sunny Friday
Rainy Saturday
Sunny Saturday

The break statement

In [60]:
for x in week:
  if x == "Thursday":
    break
print(x)

Thursday

In [59]:
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [57]:
# To display Sunday to Thursday

for x in week:
  if x == "Friday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday

In [58]:
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

While loop

In [62]:
i=1

while i<6:
  print(i)
  i+=1

1
2
3
4
5

Application 4 - Create a Python program that displays numbers 1 to 4 using while loop

In [69]:
j=1

while j<=4:
  print(j)
  j+=1

1
2
3
4

Application 5 - Create a Python program that displays numer 4 using while loop statement and break statement

In [76]:
j=1

while j<=4:
  if j==4:
    print(j)
  j+=1

4